@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


@variant dark (&:where(.dark, .dark *));

@theme {
    --default-font-family: "Arimo";

  /* Spacing */
  --spacing-8xl: 90rem;
  --spacing-9xl: 105rem;
  --spacing-10xl: 120rem;

  /* Animations */
  --animate-spin-slow: spin-slow 8s linear infinite;

  @keyframes spin-slow {
    100% {
      transform: rotate(-360deg);
    }
  }
}

