.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev,
.slick-next {
  z-index: 1;
}


.dark .slick-prev,
.dark .slick-next {
  color: white;
}

.dark .slick-dots li button:before {
  color: white;
}